<launch>
  <arg name="publish_steppable_region" default="true" />
  <arg name="add_local_plane" default="false" />
  <arg name="debug_view" default="false" />
  <arg name="debug_mode" default="false" />

  <!-- <node pkg="jsk_path_planner" type="polygon_to_mesh_main.l" -->
  <!--       name="polygon_to_mesh" output="screen"> -->
  <!--   <remap from="~input" to="/organized_multi_plane_segmentation/output_refined_polygon" /> -->
  <!--   <remap from="~meshed_polygons" to="/meshed_polygons" /> -->
  <!--   <rosparam subst_value="true"> -->
  <!--     add_local_plane: $(arg add_local_plane) -->
  <!--     debug_mode: $(arg debug_mode) -->
  <!--   </rosparam> -->
  <!-- </node> -->

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find jsk_path_planner)/rviz/steppable_region_debug.rviz"
        output="screen" if="$(arg debug_view)"/>

  <group if="$(arg publish_steppable_region)">
    <node name="accumulated_steppable_region_publisher" pkg="safe_footstep_planner"
          type="accumulated_steppable_region_publisher" output="screen">
      <param name="grid_length"                 value="1.0"/>
      <param name="steppable_range"             value="7"/>
      <param name="steppable_terrain_angle"     value="0.25"/>
      <param name="steppable_slope_angle"       value="0.35"/>
      <param name="obstacle_range"              value="12.0"/>
      <param name="obstacle_height"             value="0.07"/>
      <param name="height_limit"                value="0.45"/>
      <param name="erode_range"                 value="3"/>
      <param name="accumulate_length"           value="500"/>
      <param name="accumulate_center_x"         value="150"/>
      <param name="accumulate_center_y"         value="250"/>
      <param name="fixed_frame"                 value="odom_ground"/>
      <param name="fov_h"                       value="57"/>
      <param name="fov_v"                       value="30"/>
      <param name="camera_frame"                value="rs_l515_depth_optical_frame"/>
    </node>

    <!-- <node name="steppable_region_visualizer" pkg="jsk_path_planner" -->
    <!--       type="steppable_region_visualizer.py" output="screen"> -->
    <!--   <remap from="~input" to="/steppable_region" /> -->
    <!-- </node> -->

    <!-- <node name="target_height_publisher" pkg="safe_footstep_planner" type="target_height_publisher" output="screen"/> -->
  </group>

</launch>
